<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table class="table ">
  <thead>
    <tr>
      <th>Comprador</th>
      <th>Fornecedor</th>
      <th>Produto</th>
      <th>Preco</th>
      <th>Quantidade</th>
      <th>Data importacao</th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.comprador.nome %></td>
        <td><%= venda.fornecedor.nome %></td>
        <td><%= venda.produto.descricao %></td>
        <td><%= venda.produto.preco %></td>
        <td><%= venda.produto.quantidade %></td>
        <td><%=l venda.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
